@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;


html, body {
  @apply transition-colors duration-300;
}

:root {
  --background: transparent;
  --foreground: inherit;
}
